@tailwind base;
@tailwind components;
@tailwind utilities;


.board-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 12px;
}
html,
body {
  overflow-x: hidden;
  overflow-x: hidden;
}